*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(to right, #125c12, #1df06e);
    min-height: 100vh;
}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card{
    background: white;
    border-radius: 20px;
    padding: 60px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.logo-title{
    font-size: 50px;
    font-weight: 700;
    color: #198754;
}

.sub-title{
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}

.btn-custom{
    width: 220px;
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-custom:hover{
    transform: translateY(-3px);
}